<%- include('include/header.ejs',{pageTitle:pageTitle})%>

<body style="text-align:center">
    <%- include('include/navbar.ejs',{path:path})%>
    <p>Currently Registered Users</p>

    <% result.forEach(prod=>{  %>
    <%- include('include/card.ejs',{product:prod})%>
    <% }); %>
    <script src="/js/main.js"></script>
    <script>
        let output = document.getElementById("output");
        typeIt("Main Menu", output, 200); //(string,targetElement,time(in sec))
    </script>
    <%- include('include/footer.ejs')%>
</body>