<%- include('include/header.ejs',{pageTitle:pageTitle})%>

<body style="text-align:center">
    <%- include('include/navbar.ejs',{path:path})%>
    <p>Currently Registered Users</p>

    <%- include('include/footer.ejs')%>