<%- include('include/header.ejs',{pageTitle:pageTitle})%>

<body style="text-align:center">
    <%- include('include/navbar.ejs',{path:path,isAuthenticated:isAuthenticated,isAdmin:isAdmin})%>
    <div class="container-fluid">
        <p>Currently Registered Users</p>

        <% result.forEach(prod=>{  %>
        <%- include('include/card.ejs',{product:prod,isAuthenticated:isAuthenticated,isAdmin:isAdmin})%>
        <% }); %>
    </div>
    <script src="/js/main.js"></script>
    <script>
        let output = document.getElementById("output");
        typeIt("Main Menu", output, 100); //(string,targetElement,time(in sec))
    </script>
    <%- include('include/footer.ejs')%>
</body>