<%- include('include/header.ejs',{pageTitle:pageTitle }) %>
<link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <%- include('include/navbar.ejs',{path:path}) %>
    <div class="container">
        <div class="row">
            <div
                class="login-form d-flex flex-column justify-content-center offset-1 col-10 col-md-6 p-2 bg-dark offset-sm-1 offset-md-3 shadow-lg">
                <form method="get" action="/login" name="login">
                    <p class="font-weight-bolder text-light">Login</p>
                    <div class="mt-5 mx-3 mx-md-5">
                        <div class="forEmail shadow-lg">
                            <i class="fas fa-envelope"></i>
                            <input type="text" placeholder="E-mail" name="email" onkeyup="emailInput(event)">
                        </div>
                        <div class="email-alert alert-sm alert-danger">Enter Valid Email</div>
                    </div>
                    <div class="mt-5 mx-3 mx-md-5">
                        <div class="forPass shadow-lg">
                            <i class="fas fa-key"></i>
                            <input type="password" name="password" placeholder="Password" onkeyup="passInput(event)">
                        </div>
                        <div class="pass-alert alert-sm alert-danger">Enter Valid Password</div>
                        <div class="text-light"> * Password must contain atleast One Uppercase,One lowercase,One special
                            character,One number and minimum 8</div>
                    </div>
                    <div class="submit-btn my-5 mx-3 mx-md-5">
                        <input type="submit" class="submit-btn btn w-100 btn-primary px-5 badge-pill" name="submit"
                            value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        const emailPattern = /^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$/i;
        const passwordPattern = /^.*(?=.{8,})(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%^&+=]).*$/;
        let emailAlert = document.querySelector('.email-alert');
        let passAlert = document.querySelector('.pass-alert');
        let emailBox = document.querySelector('.forEmail');
        let passwordBox = document.querySelector('.forPass');
        let submitButton = document.querySelector('.submit-btn');
        let isValid = false;
        let isEmail = false;
        let isPassword = false;
        document.login.submit.disabled = true;

        function emailInput(e) {
            emailAlert.style.display = "block";
            document.login.submit.disabled = true;
            emailBox.style.border = "1px solid red";
            document.login.submit.disabled = true;
            isEmail = emailPattern.test(e.target.value);
            if (isEmail) {
                emailBox.style.border = "none";
                emailAlert.style.display = "none";
                // e.target.style.background = "none";
            }
            isValid = isEmail && isPassword;
            if (isValid === 'true') {
                document.login.submit.disabled = false;
            }
        }

        function passInput(e) {
            passAlert.style.display = "block";
            passwordBox.style.border = "1px solid red";
            document.login.submit.disabled = true;
            isPassword = passwordPattern.test(e.target.value);

            if (isPassword) {
                passwordBox.style.border = "none";
                passAlert.style.display = "none";
            }

            isValid = isEmail && isPassword;
            if (isValid) {
                document.login.submit.disabled = false;
            }
        }
    </script>
    <%- include('include/footer.ejs') %>