.login-form {
    margin-top: 7%;
    border-radius: 15px;
    text-align: center;
}

.forEmail,
.forPass,
.forPass2 {
    background: azure;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 7px;
    transition: all 0.01s ease;
}

.forEmail i,
.forPass i,
.forPass2 i {
    padding: 10px;
}

.forEmail input,
.forPass input,
.forPass2 input {
    border: none;
    background: none;
    flex: 1;
    outline: none;
}

.email-alert,
.pass-alert,
.pass-alert2 {

    display: none;
    border-radius: 7px;
}

:disabled {
    cursor: not-allowed;
}

.submit-btn input[type='submit'] {}