* {
    font-family: 'Stylish', sans-serif;
    box-sizing: border-box;
    font-weight: bold;
}

body {
    margin-top: 60px;
    text-align: center;
}

.active {
    border-radius: 10px;
    background: rgb(35, 13, 133);
    color: black;
}


.login:hover,
.login:active,
.signup:hover,
.signup:active,
.home:hover,
.home:active {
    font-style: bold;
    border-radius: 10px;
    background: rgb(35, 13, 133);
    color: white;
}


.model {
    padding: 10px;
    display: block;
    position: fixed;
    border: 0.5px solid black;
    background: azure;
    width: 80%;
    height: auto;
    top: 30%;
    left: 10%;
    z-index: 10000;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px 1px rgb(68, 55, 55);
    transition: all 0.4s ease;
    font-weight: bolder;

}




.sidebar {
    color: white;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    height: 100vh;
    transition: all 1s ease;
    z-index: 20000;

}

.sidebar ul li a {
    text-decoration: none;
    color: white;
}


.backdrop {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0, 0.4);
    z-index: 100;
}

.cartItem {
    border-radius: 20px;
    padding: 6px;
    width: 90%;
    margin: 2% 5%;
}

.card {

    display: block;
    box-sizing: border-box;
    padding: 5px;
    margin: 5%;
    width: 90%;
    height: 60%;
    border-radius: 10px;
}

.card div img {
    width: 280px;
    height: 210px;
}

@media(min-width:40rem) {
    .cartItem {
        border-radius: 20px;
        padding: 6px;
        width: 50%;
        margin: 2% auto;
    }

    .card {
        margin: 1%;

        display: inline-block;
        width: 20%;
        height: 20%;
        max-width: 450px;
        max-height: 450px;
    }

    .card div img {
        max-width: 450px;
        max-width: 450px;
        max-height: 300px;
        min-height: 300px;
    }

    .model {
        padding: 20px;
        height: auto;
        width: auto;
        left: 40%;
    }

    .sidebar {
        width: 30%;
        display: none;

    }

    body {
        margin-top: 90px;
    }
}