<div class="card">
    <div>
        <img class="img-fluid w-100" src="<%=product.imgUrl%>" alt="<%=product.title%>">
    </div>
    <div>
        <span><b><%=product.title%></b></span>

    </div>
    <div><span>Price:<%=product.price%></span></div>
    <button>Detail</button>
</div>