<div class="model">
    <%=message%>
    <form>
        <input type="button" class="btn btn-primary" onclick="OKClicked()" value="OK">
        <input type="button" class="btn btn-primary" onclick="cancelClicked()" value="Cancel">
    </form>
</div>