<div class="model">
    <p><%=message%></p>
    <form action="/" style="display: inline-block">
        <input type="submit" class="go-to-home btn btn-primary" value="Go to Home"
            style="display: inline-block;border-radius: 10px;">
    </form>
    <!-- <input type="button" class="try-again btn btn-primary" onclick="cancelClicked()" value="Try again"
        style="display: inline-block;border-radius: 10px;"> -->
    <a class="try-again btn btn-primary" style="display: inline-block;border-radius: 10px;text-decoration: none"
        href="/form/login">Retry </a>

</div>