<div class="model">
    <%=message%>
    <form action="/">
        <input type="submit" class="go-to-home btn btn-primary" value="Go to Home">
    </form>
    <input type="button" class="try-again btn btn-primary" onclick="cancelClicked()" value="Try again">

</div>