<%- include('../include/header.ejs',{pageTitle:pageTitle}) %>
<link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <%- include('../include/navbar.ejs')%>
    <p>Inside Main</p>
    <div class="grid">
        <div class="card">

        </div>
    </div>
    <%- include('../include/footer.ejs')%>