<%- include('../include/header.ejs',{pageTitle:pageTitle}) %>
<link rel="stylesheet" href="/css/main.css">
</head>

<body style="margin-top:70px">
    <%- include('../include/navbar.ejs',{pageTitle:pageTitle,isAuthenticated:isAuthenticated,isAdmin:isAdmin})%>
    <p>Inside Main</p>
    <div class="grid">
        <div class="card">
            <p><%=result%></p>
        </div>
    </div>
    <script src="/js/main.js"></script>
    <%- include('../include/footer.ejs')%>