<%- include('../include/header.ejs',{pageTitle:pageTitle})%>

<body style="text-align:center">
    <%- include('../include/navbar.ejs',{path:path})%>
    <div class="container-fluid">
        <p>Available Products</p>

        <% result.forEach(prod=>{  %>
        <%- include('../include/card.ejs',{product:prod,edit:edit})%>
        <% }); %>
    </div>
    <script src="/js/main.js"></script>
    <script>
        let output = document.getElementById("output");
        typeIt("Main Menu", output, 200); //(string,targetElement,time(in sec))
    </script>
    <%- include('include/footer.ejs')%>
</body>