<%- include('../include/header.ejs',{pageTitle:pageTitle}) %>
<link rel="stylesheet" href="/css/signup.css">
</head>

<body>
    <%- include('../include/navbar.ejs',{path:path}) %>
    <%if(message){%>
    <div class="backdrop" style="display:block" id="loginBack" onclick="modelBackdropClicked(event)"></div>
    <%- include('../include/model.ejs',{message:message})%>
    <%}%>
    <div class="container">
        <div class="row">
            <div
                class="login-form d-flex flex-column justify-content-center offset-1 col-10 col-md-6 p-2 bg-dark offset-sm-1 offset-md-3 shadow">
                <form method="POST" action="/signup" name="signup">
                    <p class="font-weight-bolder text-light">Register</p>
                    <div class="mt-5 mx-3 mx-md-5">
                        <div class="forEmail shadow-lg">
                            <i class="fas fa-envelope"></i>
                            <input type="text" placeholder="E-mail" name="email" onkeyup="emailInput(event)">
                        </div>
                        <div class="email-alert alert-sm alert-danger">Invalid Email</div>
                    </div>
                    <div class="mt-5 mx-3 mx-md-5">
                        <div class="forPass shadow-lg">
                            <i class="fas fa-key"></i>
                            <input type="password" name="password" placeholder="Password" onkeyup="passInput()">
                        </div>
                        <div class="pass-alert alert-sm alert-danger">Invalid Password</div>
                    </div>
                    <div class="mt-5 mx-3 mx-md-5">
                        <div class="forPass2 shadow-lg">
                            <i class="fas fa-key"></i>
                            <input type="password" name="cnfpassword" placeholder="Confirm Password"
                                onkeyup="pass2Input()">
                        </div>
                        <div class="pass-alert2 alert-sm alert-danger">Invalid Password</div>
                        <div class="text-light"> * Password must contain atleast One Uppercase,One lowercase,One special
                            character,One number</div>
                    </div>
                    <div class="submit-btn my-5 mx-3 mx-md-5">
                        <input type="submit" class="submit-btn btn w-100 btn-primary px-5 badge-pill" name="submit"
                            value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/js/main.js"></script>
    <script>
        typeIt("Register", output, 200);
        const emailPattern = /^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$/i;
        const passwordPattern = /^.*(?=.{8,})(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%^&+=]).*$/;
        let emailAlert = document.querySelector('.email-alert');
        let passAlert = document.querySelector('.pass-alert');
        let emailBox = document.querySelector('.forEmail');
        let email = document.querySelector('.forEmail input');
        let password = document.querySelector('.forPass input');
        let password2 = document.querySelector('.forPass2 input');
        let passwordBox = document.querySelector('.forPass');
        let submitButton = document.querySelector('.submit-btn');
        let passAlert2 = document.querySelector('.pass-alert2');
        let pass2Box = document.querySelector('.forPass2');
        let isValid = false;
        let isEmail = false;
        let isPassword = false;
        document.signup.submit.disabled = true;
        let pass1 = '',
            pass2 = '';


        emailInput = (e) => {

            showAlert(emailBox, emailAlert, 'signup');
            isEmail = emailPattern.test(e.target.value);
            hideAlert(isEmail, emailBox, emailAlert, e);
            isValid = isEmail && isPassword;
            validate(isValid, 'signup');
        }

        passInput = () => {
            showAlert(passwordBox, passAlert, 'signup');
            isPassword = passwordPattern.test(password.value);
            pass1 = password.value;
            isPassword = passwordMatch(pass1, pass2);
            hideAlert(isPassword, passwordBox, passAlert);
            isValid = isEmail && isPassword;
            validate(isValid, 'signup');
        }
        pass2Input = () => {
            showAlert(pass2Box, passAlert2, 'signup');
            isPassword = passwordPattern.test(password2.value);
            console.log(password2);
            pass2 = password2.value;
            isPassword = passwordMatch(pass1, pass2);
            hideAlert(isPassword, pass2Box, passAlert2);
            isValid = isEmail && isPassword;
            console.log(isValid);
            validate(isValid, 'signup');
            passIput();

        }

        passwordMatch = (pass1, pass2) => {
            if ((pass1.length > 0 && pass2.length > 0))
                return pass1 === pass2;
        }
    </script>
    <%- include('../include/footer.ejs') %>